*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    height: 25px;
}
main{   
    min-height: 80vh;
    background-color:aqua;
    
}
footer{
    height: 15vh;
    background-color: blanchedalmond;
}
footer svg {
    padding: 5px;
    align-items: start;
}