*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header h1 {
    /*margin: auto;
    text-align: center;*/
    position: relative;
    top: 30px;
    left: 37%;
}

header h2{
    margin: auto;
    width: 1000px;
    background-color: black;
    color: white;
    text-align: center;
}

.img_header {
    display: block;
    margin: auto;
    width: 1000px;
    height: 250px;
}
.logo{
    /*margin-right: auto;*/
    /*margin-left: 200px;*/
    /*border: 10px solid black;
    border-radius: 5px;*/
    position: absolute;
    top: 260px;
    left: 60%;
    /*left: 2300px;*/
    
}
.contenedor {
    display: block;
    margin: auto;
    width: 1000px;
    height: 350px;
}
.contenedor_nav {
    display: inline-block;
    margin: auto;
    width: 100px;
    /*border: 1px solid rgb(253, 4, 4);*/
    position: relative;
    top: 40px;

    
}
nav a {
    display:block;
    margin: auto;
}

a {
    padding: 15px;
}
.active {
    text-decoration: none;
    color: black;
  }
h3, p{
    padding: 5px;
}/*
section{
    margin: 30px;
    position: relative;
    top: 20px;
}*/
.texto {
    display: inline-block;
    margin: auto;
    width: 800px;
    position: absolute;
    top: 350px;
    /*height: 300px;*/
    /*border: 1px solid black;*/
    /*padding-right: 500px;*/
    /*background-color: orange;
    /*color: white;
    text-align: center;*/
}
footer{
    margin: auto;
    width: 1000px;
    background-color: black;
    color: white;
    text-align: center;
}



