*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecera{
    display: flex;
    height: 10vh;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
.logo {
    width: 3vw;
    /* border-radius: 50%; */
}
.cabecera h1 {
    color: white;
    background-color: black;
    border: 2px solid red;
}
nav a {
    margin: auto;
    background-color: rgb(157, 209, 163);
    color: white;
    border: 1px solid black;
}
a {
    padding: 10px;
}
.active {
text-decoration: none;
background-color: rgb(211, 232, 143);
}
.contenedor{
    display: flex;
    height: 80vh;
    width: 100vw;
    flex-direction:column;
    flex-wrap: nowrap;
    /* flex-shrink: 1; */
    align-items: center;
    justify-content:center;

}

.imagenes{
    transform: scale(0.5);
    display: inline-flex;
}
div img:hover{
    transform: scale(1.5);
}
div img {
    border: 2px solid black;
}

/* .tabla{
    border: 2px solid blueviolet;
    text-align: center;
    background-color: beige;


}
caption {
    background-color: beige;
} */
.tabla td{
    margin: 1rem;
    padding: 1rem;
}
/* .tabla tr th{
    margin: 1rem;
} */

.texto{
    /* height: 70vh; */
    width: 40vw;
    color: brown;

}
.listas{
    list-style-position: inside;
}
.pie_pagina{
    display: flex;
    height: 10vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
